services:
  vscode:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        UV_VERSION: latest
    command: "sleep infinity"
    ports:
      - "8000:8000"
    user: vscode
    volumes:
      - ..:/workspace:cached
    depends_on:
      - unstructured
    environment:
      - UNSTRUCTURED_API_URL=http://unstructured:8000

  unstructured:
    image: downloads.unstructured.io/unstructured-io/unstructured-api:latest
    platform: linux/amd64
    ports:
      - "8001:8000"
    environment:
      - UNSTRUCTURED_API_KEY=${UNSTRUCTURED_API_KEY:-}
    restart: unless-stopped
