services:
  vscode:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        UV_VERSION: latest
    command: "sleep infinity"
    ports:
      - "8000:8000"
    user: vscode
    volumes:
      - ..:/workspace:cached
      # Mount AWS credentials from host for SSO/temporary credentials
      - ~/.aws:/home/vscode/.aws:ro
    depends_on:
      - unstructured
    environment:
      - UNSTRUCTURED_API_URL=http://unstructured:8000
      # AWS configuration
      - AWS_PROFILE=${AWS_PROFILE:-default}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-west-2}

  unstructured:
    image: downloads.unstructured.io/unstructured-io/unstructured-api:latest
    platform: linux/amd64
    ports:
      - "8001:8000"
    environment:
      - UNSTRUCTURED_API_KEY=${UNSTRUCTURED_API_KEY:-}
    restart: unless-stopped
